# project docs
docs/

# results
results/*

# uv virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Python package/build artifacts
build/
dist/
*.egg-info/
.eggs/

.ipynb_checkpoints/

# Jupyter runtime files
.jupyter/
.local/share/jupyter/runtime/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.tox/
.nox/

.coverage
.coverage.*
htmlcov/

.vscode/
.idea/
.zed/

.DS_Store

# temp / backup files
*.tmp
*.temp
*.log
*~
*.swp
*.swo

# LaTeX artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.out
*.run.xml
*.synctex.gz
*.toc

.env
.env.*
!.env.example

# classical solvers
src/_classical/
# tests
tests/
